.Header{
    background-color: rgb(14,80,14);
    color: white;
    padding: 2% 0%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.Heading{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;

}

.subheading{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: lighter;

}
.card{
    /* max-width: 345px; */
    height: 280px;
}