.contactdiv{
    height: 100vh;
    background: url(./Contact.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    /* mix-blend-mode: multiply; */

}

.hi{
    font-size: 55px;
    color: white;
    font-family:'Bebas Neue',cursive;
    font-weight:lighter ;
}